*.pyc
*.db
*.blend[0-9]*

webservice/venv/
docs/venv/
/doc/build/
client/venv/

client/client/config.json
webservice/bam/config.py

# generated
doc/source/reference/index.rst
/*.egg-info/
/.cache/
__pycache__
